<service>
  <id>denopssharedserver</id>
  <name>denops-shared-server</name>
  <description>denops.vim shared server</description>
  <executable>{{deno}}</executable>
  <arguments>run -A --no-check {{script}} --hostname {{hostname}} --port {{port}}</arguments>
  <env name="PATH" value="{{path}}" />
  <env name="HOME" value="{{home}}" />
  <onfailure action="restart" />
</service>
